<div ng-controller="AdminCtrl as admin">

<h2>Eines d'administrador</h2>
<div class="row">

    <div class="col-md-8">
	<h3>Crea un usuari</h3>

	<form action="" method="">
        <input name="user" type="text" placeholder="Nom d'usuari" ng-model="newUser.username"><br>
        <input type="email" placeholder="Correu" ng-model="newUser.email"><br>
        <input type="text" placeholder="Nom" ng-model="newUser.first_name"><br>
        <input type="text" placeholder="Cognom" ng-model="newUser.last_name"><br>
        <select ng-model="newUser.role">
        	<option value="1">Alumne</option>
        	<option value="2">Professor</option>
        	<option value="3">Coordinador</option>
        </select>
        <br>
        <button class="btn btn-info register" type="submit" ng-click="doCreate()">Register</button>

    </form>
    </div>
    <div class="col-md-4">
        <p ng-show="statusShow">
    	   {{ statusText }}
        </P>
    <div>
</div>
</div> 