<h1 style="text-align: center;">{{groupData.nom}}</h1>
<h4 style="text-align: center;">
	{{groupData.Professor.first_name}} {{groupData.Professor.last_name}}
</h4>
<div class="timetabledisplay">
	<ul>
		<li ng-repeat="class in groupData.horari track by class.weekday.index| orderBy:weekday.index">
			{{class.weekday.string}} a les {{class.time | date:"HH:mm"}}
		</li>
	</ul>
</div>
<div class="row">
	<div class="col-md-6">
		<uib-accordion>
		<uib-accordion-group heading="Envia una nota" is-open="false">
		<div class="row">
			<div class="col-md-6">
			<h4>Títol:</h4>
			<input placeholder="Opcional" name="titol" ng-model="newNote.titol" type="text" />
			</div>
			<div class="col-md-6">
			<h4>Missatge:</h4>
			<textarea placeholder="Obligatori" ng-model="newNote.missatge"></textarea>
			<p>
			<button class="btn btn-info register" type="submit" ng-click="postNote()">Envia</button>
			</p>
			</div>
		</div>
		</uib-accordion-group>
		</uib-accordion>
		
	</div>
	<div class="col-md-6" ng-if="isAuthorized([userRoles.coord, userRoles.professor])">
		<uib-accordion>
		<uib-accordion-group heading="Crea una tasca" is-open="false">
		<div class="row">
			<div class="col-md-6">
			<h4>Nom:</h4>
			<input placeholder="Obligatori" name="titol" ng-model="newTask.nom" type="text" ng-required="true"/>
			</div>
			<div class="col-md-6">
			<h4>Data Entrega/Límit:</h4>
			<p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="shortDate" ng-model="newTask.entrega" is-open="popup1.opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Tancar" clear-text="Borra" today-text="Avui"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
			<button class="btn btn-info register" type="submit" ng-click="createTask()">Envia</button>
			</div>
		</div>
		</uib-accordion-group>
		</uib-accordion>

	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<h3>Notes del grup</h3>
		<span ng-show="groupNotes.length == 0">No hi ha notes publicades</span>
		<div ng-repeat="note in groupNotes | orderBy:createdAt:true | limitTo: 5" class="noteDiv">
			<div class="header">
			<span ng-show="note.titol" style="font-size: 13pt;"><b>{{note.titol}}</b>&nbsp;&nbsp;|&nbsp;&nbsp;</span><span class="author"><span class="glyphicon glyphicon-user" /> <b>{{note.autor.full_name}}</b></span>
			<span class="date">{{note.createdAt | date:"dd MMMM 'de' yyyy 'a les' HH:mm"}}</span>&nbsp;&nbsp;<span ng-click="deleteNote($index)" ng-if="isAuthorized([userRoles.coord, userRoles.professor])" class="deleteButton glyphicon glyphicon-trash" />
			</div>
			<div class="missatge">{{note.missatge}}</div>
		</div>
	</div>

	<div class="col-md-6">
		<h3>Tasques del grup</h3>
		<span ng-show="groupTasks.length == 0">No hi ha tasques programades</span>
		<ul class="taskList">
			<li ng-repeat="task in groupTasks | orderBy: entrega : false">
				<span class="entrega">{{task.entrega | date:"EEEE, dd MMMM 'de' yyyy"}}</span>: <span class="tasca">{{task.nom}}&nbsp;&nbsp;</span><span ng-click="deleteTask($index)" ng-if="isAuthorized([userRoles.coord, userRoles.professor])" class="deleteButton glyphicon glyphicon-trash" />
			</li>
		</ul>
	</div>
</div>
<div class="row" style="margin-top: 20px;" ng-if="isAuthorized([userRoles.coord, userRoles.professor])">
	<div class="col-md-6">
		<uib-accordion>
		<uib-accordion-group heading="Llistat d'alumnes" is-open="false">
		<input ng-model="studentSearchData" id="searchStudentsBox" placeholder="Cerca" name="search">
		<ul class="studentsList">
			<li ng-repeat="student in studentsList | filter: studentSearchData | orderBy: last_name">
				<span><a ui-sref="otherProfile({id: student.id})">{{student.full_name}}</a></span>&nbsp;&nbsp;<span style="font-size: 11pt;" ng-click="deleteStudent(student.id, $index)" class="deleteButton glyphicon glyphicon-remove" />
			</li>
		</ul>

		</uib-accordion-group>
		</uib-accordion>
		
	</div>
	<div class="col-md-6">
		<uib-accordion>
		<uib-accordion-group heading="Afegeix un alumne" is-open="false">

			<h4 style="text-align: center;">Nom de l'alumne:</h4>
			<input type="text" ng-model="userToBeAdded" placeholder="Comença a escriure" uib-typeahead="results as results.full_name for results in getAllStudents($viewValue)" typeahead-show-hint="true" typeahead-loading="loadingStudents" typeahead-no-results="noResults" class="form-control">
			<p>
			<span ng-show="loadingStudents">Carregant...</span><span ng-show="noResults">No hi ha resultats</span>
			</p>
			<p><button class="btn btn-info" type="submit" ng-click="addStudent({{userToBeAdded}})">Afegeix</button></p>

		</uib-accordion-group>
		</uib-accordion>

	</div>
</div>
<uib-accordion ng-if="isAuthorized([userRoles.coord, userRoles.professor])">
<uib-accordion-group heading="Configuració del grup" panel-class="panel-danger" is-open="false">
	<div class="row">
		<div class="col-md-4">
			<h5>Canvia el nom</h5>
			<input type="text" ng-model="groupData.nom" placeholder="Escriu un nom" />
			<button class="btn btn-warning" ng-click="changeName()">Canvia</button>
		</div>
		<div class="col-md-4">
			<h5>Canvia els horaris</h5>
			<ul>
				<li ng-repeat="time in groupdata.horari">
					{{time.weekday.string}} | {{time.time | date:"HH:mm"}}
		</div>
		<div class="col-md-4">
			<h5>Elimina el grup</h5>
			<p>
			Si elimines el grup també s'eliminaran totes les notes i tasques associades.  Aquesta acció és irrevocable.</p>
			<button class="btn btn-danger" ng-click="deleteGroup()">Elimina</button>
		</div>
	</div>
</uib-accordion-group>
</uib-accordion>

