<div class="container">
      <div class="login-container">
          <h1>Student Groups</h1>
          <h4>Inici de Sessió</h4>
        <div id="output"></div>
        <div class="form-box">
          <form action="" method="">
            Nom d'Usuari:  <input name="user" type="text" ng-model="userCredentials.username"><br>
            Contrassenya:  <input type="password" ng-model="userCredentials.password">
            <button class="btn btn-info btn-block login" type="submit" ng-click="doLogin()">Entra</button>

          </form>
        </div>
      </div>
    </div>